.head {
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}
.bloglistbox {
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    margin: 30px 0;
}
.bloglist {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: space-evenly;
}
.blogitem {
    width: 300px;
    background: var(--bg);
    border: 1px solid var(--primary);
    border-radius: 10px;
    padding: 20px;
    transition: all 0.3s ease;
    min-height: 120px;
    background: center / cover no-repeat var(--bg);
}
.blogitem:hover {
    box-shadow: 0 0 0 3px var(--info), 0 3px 5px 5px rgba(0, 0, 0, .1);
}
