/* cookie exit */
.fade-enter {
  transform: rotate(45deg);
  transform-origin: -100px -100px;
}
.fade-enter-active {
  transform: rotate(0);
  transition: all 500ms ease-out;
}
.fade-exit {
  opacity: 1;
  transform: translateY(0);
}
.fade-exit-active {
  opacity: 0;
  transform: translateY(100%);
  transition: all 1s;
}

/* docs pages */
.page1-enter {
  opacity: 0;
  transform: translateY(-100px);
}
.page1-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}
.page1-exit {
  opacity: 1;
  transform: translateY(0);
}
.page1-exit-active {
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 300ms, transform 300ms;
}

.page2-enter {
  opacity: 0;
  transform: translateX(-100px);
}
.page2-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.page2-exit {
  opacity: 1;
  transform: translateX(0);
}
.page2-exit-active {
  opacity: 0;
  transform: translateX(100px);
  transition: opacity 300ms, transform 300ms;
}

.page3-enter {
  opacity: 0;
  transform: scale(1.1);
}
.page3-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
}
.page3-exit {
  opacity: 1;
  transform: scale(1);
}
.page3-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}
