/* cookie exit */
.fade-enter {
  /* opacity: 0; */
  /* transform: translateX(-100%); */
  transform: rotate(45deg);
  transform-origin: -100px -100px;
}
.fade-enter-active {
  /* opacity: 1; */
  /* transform: translateX(0); */
  transform: rotate(0);
  transition: all 500ms ease-out;
  /* transform-origin: -100px -100px; */
}
.fade-exit {
  opacity: 1;
  transform: rotate(0);
}
.fade-exit-active {
  opacity: 0;
  transform: rotate(-90deg);
  transition: all 1s;
  transform-origin: -200px 100px;
}

/* docs pages */
.page-enter {
  opacity: 0;
  transform: translateY(-100px);
}
.page-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}
.page-exit {
  opacity: 1;
  transform: translateY(0);
}
.page-exit-active {
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 300ms, transform 300ms;
}
