.main {
    display: flex;
    justify-content: center;
    padding: 50px 0;
    gap: 30px;
}
.aside {
    width: 200px;
    height: calc(100vh - 50px);
    padding: 5px;
    position: sticky;
    top: 50px;
    left: 0;
}
.aside_blog {
    margin: 10px 0;
}
.blog {
    margin: 10px 0;
    line-height: 1.5;
}
.blog a {
    color: var(--font);
}
.blog a:hover {
    color: var(--main);
}
.body {
    padding: 10px;
    /* FIXME */
    width: 700px;
}
