.article_box {
    padding-top: 50px;
    display: flex;
}
.aside {
    width: 300px;
    box-sizing: border-box;
    border-right: 1px solid var(--border);
    background-color: var(--bg);
    position: sticky;
    top: 50px;left: 0;
    /* height: fit-content; */
    height: calc(100vh - 50px);

    padding: 10px;
}
.aside_file {
    padding: 5px 10px;
    border-radius: 5px;
    transition: all 0.25s ease;
    display: block;
    color: var(--font);
    margin-bottom: 3px;
}
.aside_file:hover {
    background-color: var(--foot-bg);
    cursor: pointer;
    color: var(--main);
}
.aside_dir_head {
    padding: 5px 10px;
    border-radius: 5px;
    /* cursor: pointer; */
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.aside_dir_head svg {
    transform: rotate(90deg);
}
.aside_dir .aside_file {
    margin-left: 10px;
}
.active {
    background-color: var(--foot-bg);
    color: var(--main);
}

/*  */
.article {
    /* flex: 1; */
    padding: 10px;
    /* FIXME */
    width: 800px;
    margin: 10px auto;
}


