.article_box {
    padding-top: 50px;
    display: flex;
}
.aside {
    width: 300px;
    box-sizing: border-box;
    border-right: 1px solid var(--border);
    background-color: var(--bg);
    position: sticky;
    top: 50px;left: 0;
    /* height: fit-content; */
    height: calc(100vh - 50px);
    overflow: auto;

    padding: 10px;
}
.aside_file {
    padding: 5px 10px;
    border-radius: 5px;
    transition: all 0.25s ease;
    display: block;
    color: var(--font);
    margin-bottom: 3px;
}
.aside_file:hover {
    background-color: var(--foot-bg);
    cursor: pointer;
    color: var(--main);
}
.aside_dir_head {
    padding: 5px 10px;
    border-radius: 5px;
    /* cursor: pointer; */
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.aside_dir_head svg {
    transform: rotate(90deg);
}
.aside_dir .aside_file {
    margin-left: 10px;
}
.active {
    background-color: var(--foot-bg);
    color: var(--main);
}

/*  */
.article {
    /* flex: 1; */
    padding: 10px;
    /* FIXME */
    width: 800px;
    margin: 10px auto;
}
.docs_title {
    font-size: 2rem;
    position: relative;
    text-align: center;
}
.docs_title::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    height: 3px;
    width: 100%;
    background: linear-gradient(to right, red, pink, blue, rgb(230, 73, 230), rgb(72, 238, 72));
    border-radius: 5px;
}
.article h2:hover::after {
    opacity: 0.6;
}
.article h2::after {
    content: " h2 ";
    color: var(--main);
    opacity: 0;
    transition: opacity 300ms ease;
}
.article h3:hover::after {
    opacity: 0.6;
}
.article h3::after {
    content: " h3 ";
    color: var(--main);
    opacity: 0;
    transition: opacity 300ms ease;
}
.article h4:hover::after {
    opacity: 0.6;
}
.article h4::after {
    content: " h4 ";
    color: var(--main);
    opacity: 0;
    transition: opacity 300ms ease;
}