html,
body {
  padding: 0;
  margin: 0;
  font-family: Fira Code, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 16px;
  color: var(--font);
  background-color: var(--bg);
  scroll-behavior: smooth;
}
:root {
  /* 橘红 */
  --main: #ff7500;
  --main-blur1: rgba(255, 117, 0, .1);
  --main-blur2: rgba(255, 117, 0, .2);
  /* 琥珀 */
  --main-dark: #ca6924;
  /* 油绿 */
  --green1: #00bc12;
  /* 青碧 */
  --select: #48c0a3;

  --font: #232323;
  --head-bg: #fff;
  --foot-bg: #faf8fe;
  --bg: #fff;
  --index-head-bg: var(--main);
  --border: #eee;
}

a {
  color: var(--main);
  text-decoration: none;
  transition: all 0.25s ease;
}
a:hover {
  color: var(--main-dark);
}
img {
  max-width: 100%;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: var(--font);
    background: var(--bg);
  }
  :root {
    --font: #fff;
    --head-bg: #1c1e21;
    --foot-bg: #1c1e21;
    --bg: #1b1b1b;
    --index-head-bg: var(--main-dark);
    --border: #555;
  }
}
::selection {
  background-color: var(--select);
  color: #fff;
}
code {
  color: #1ba4ce;
  font-family: Fira Code, JetBrains Mono, monospace, sans-serif;
}
code::before, code::after {
  content: "`";
}
pre, pre code {
  font-family: Fira Code, JetBrains Mono, monospace, sans-serif;
  /* color: #232323; */
}
pre code::before , pre code::after {
  content: "";
}
pre {
  background-color: #1c1e21;
  position: relative;
  border-radius: 5px;
}

/* markdwon styles */
blockquote {
  margin: 0;
  background-color: var(--main-blur2);
  padding: 6px 10px;
  border-left: 5px solid var(--main);
  border-radius: 5px;
}
blockquote p {
  margin: 10px;
  padding: 5px;
}
p {
  line-height: 1.8;
}
table {
  border: 1px solid var(--border);
  padding: 1px;
  border-radius: 5px;
  width: 100%;
}
table thead {
  background-color: var(--border);
}
table thead tr th {
  padding: 5px 10px;
}
table tbody tr:nth-child(2n) {
  background-color: var(--foot-bg);
}
table tbody tr td {
  padding: 5px 10px;
}
.md * {
  scroll-margin-top: 60px;
}
